<html>

<head>
    <title>Toko Online</title>
    <script src="../assets/js/jquery-3.3.1.js"></script>
    <link rel="stylesheet" href="../assets/css/fontawesome-all.min.css">

    <link rel="stylesheet" href="../assets/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="../assets/js/materialize.min.js"></script>
</head>
<style>
    .border {
        border: 1px solid black;
    }

    nav a {
        color: black !important;
    }

    .table-harga tr td {
        font-size: 12px;
        padding: 10px;
    }

    .footer-section {
        color: white;
        text-align: center;
    }

</style>

<body>
    <div class="container" style="border-left: 1px solid #f2f2f2; border-right: 1px solid #f2f2f2;">
        <div class="row" style="padding-top: 60px;">
            <div class="col s1 l3"></div>
            <div class="col s10 l6">
                <div class="col s12 center-align">
                    <h5>Admin Aplikasi Toko Online</h5>
                </div>
                <div class="row">
                    <div class="col s12 m12">
                        <div class="card horizontal">
                            <div class="card-stacked">
                                <div class="card-content">
                                    <div class="input-field col s12">
                                        <input placeholder="Username" id="username" type="text" class="validate" autocomplete="off">
                                        <label for="username">Username</label>
                                    </div>
                                    <div class="input-field col s12">
                                        <input placeholder="Password" id="password" type="text" class="validate" autocomplete="off">
                                        <label for="password">Password</label>
                                    </div>
                                </div>
                                <div class="card-action">
                                    <button class="btn waves-effect waves-light red" type="submit" name="action" style="width: 100%">Login
                                        <i class="material-icons right">send</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col s1 l3"></div>
        </div>
    </div>
</body>
<script>


</script>

</html>
