<html>

<head>
    <title>Toko Online</title>
    <script src="../assets/js/jquery-3.3.1.js"></script>
    <link rel="stylesheet" href="../assets/css/fontawesome-all.min.css">

    <link rel="stylesheet" href="../assets/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="../assets/js/materialize.min.js"></script>
</head>
<style>
    .border {
        border: 1px solid black;
    }

    nav a {
        color: black !important;
    }
    
    .table-harga tr td {
        font-size: 12px;
        padding: 10px;
    }

    .footer-section {
        color: white;
        text-align: center;
    }

</style>

<body>
    <div class="container" style="border-left: 1px solid #f2f2f2; border-right: 1px solid #f2f2f2;">
        <nav class="nav-extended" style="background: white; color: black; box-shadow: 0px 0px 0px 0px !important; border: 1px solid whitesmoke">
            <div class="nav-wrapper">
                <a href="#" class="brand-logo">Toko Online</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="">Login</a></li>
                    <li><a href="">Register</a></li>
                </ul>
            </div>
            <div class="nav-content">
                <ul class="tabs tabs-transparent">
                    <li class="tab"><a href="#test1">Home</a></li>
                    <li class="tab"><a class="active" href="#test2">Browse Product</a></li>
                    <li class="tab"><a href="#test3">cart</a></li>
                    <li class="tab"><a href="#test3">About</a></li>
                </ul>
            </div>
        </nav>
        <div class="row" style="padding-top: 10px;">
            <div class="col s12">
                <div class="row">
                    <div class="col s6 l4">
                        <h6>Keranjang</h6>
                    </div>
                    <div class="col s6 l4 right-align">
                        <h6>Total Belanja</h6>
                    </div>
                </div>
            </div>
            
            <div class="col s12 l8">
                <div class="card horizontal">
                    <div class="col s3">
                        <img src="../assets/img/Laptop_on_Desk_HD_Wallpaper.jpg" style="width: 100%">
                    </div>
                    <div class="col s9">
                        <div class="row">
                            <div class="col s6">
                                <h6>Nama Barang</h6>
                                Deskripsi Barang
                            </div>
                            <div class="col s6 right-align">
                                <table class="table-harga">
                                    <tr>
                                        <td>Price :</td>
                                        <td>Rp. 1,000,000</td>
                                    </tr>
                                    <tr>
                                        <td>Qty :</td>
                                        <td>2</td>
                                    </tr>
                                    <tr>
                                        <td>Total :</td>
                                        <td>Rp. 2,000,000</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="card horizontal">
                    <div class="col s3">
                        <img src="../assets/img/Laptop_on_Desk_HD_Wallpaper.jpg" style="width: 100%">
                    </div>
                    <div class="col s9">
                        <div class="row">
                            <div class="col s6">
                                <h6>Nama Barang</h6>
                                Deskripsi Barang
                            </div>
                            <div class="col s6 right-align">
                                <table class="table-harga">
                                    <tr>
                                        <td>Price :</td>
                                        <td>Rp. 1,000,000</td>
                                    </tr>
                                    <tr>
                                        <td>Qty :</td>
                                        <td>2</td>
                                    </tr>
                                    <tr>
                                        <td>Total :</td>
                                        <td>Rp. 2,000,000</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card horizontal">
                    <div class="col s3">
                        <img src="../assets/img/Laptop_on_Desk_HD_Wallpaper.jpg" style="width: 100%">
                    </div>
                    <div class="col s9">
                        <div class="row">
                            <div class="col s6">
                                <h6>Nama Barang</h6>
                                Deskripsi Barang
                            </div>
                            <div class="col s6 right-align">
                                <table class="table-harga">
                                    <tr>
                                        <td>Price :</td>
                                        <td>Rp. 1,000,000</td>
                                    </tr>
                                    <tr>
                                        <td>Qty :</td>
                                        <td>2</td>
                                    </tr>
                                    <tr>
                                        <td>Total :</td>
                                        <td>Rp. 2,000,000</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col l4 s12">
                <div class="col l12 s12" style="background: #f3f3f3; height:300px;">

                </div>
            </div>
        </div>
    </div>
    <div class="">
        <div class="col s12 red">
            <div class="container">
                <div class="row" style="margin: 0px;">
                    <div class="col s4 footer-section">
                        <ul>
                            <li>Lorem</li>
                            <li>Ipsum</li>
                            <li>Dolor</li>
                        </ul>
                    </div>
                    <div class="col s4 footer-section">
                        <ul>
                            <li>Lorem</li>
                            <li>Ipsum</li>
                            <li>Dolor</li>
                        </ul>
                    </div>
                    <div class="col s4 footer-section">
                        <ul>
                            <li>Lorem</li>
                            <li>Ipsum</li>
                            <li>Dolor</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
</script>

</html>
