nav a {
    color: black !important;
}

.title-section {
    padding: 15px !important;
    color: white;
    font-size: 20px;
}

.row-product {
    margin-bottom: 10px;
    margin-left: 5px !important;
    margin-right: 5px !important;
}

.product-card {
    padding: 2px !important;
}

.product-card-content {
    border: 1px solid #DB5F56 !important;
}

.product-name {
    padding: 0px 10px;
}

.product-price {
    padding: 0px 10px;
}

.footer-section {
    color: white;
    text-align: center;
}

.table-harga tr td {
    font-size: 12px;
    padding: 10px;
}

.footer-section {
    color: white;
    text-align: center;
}
